// Your sass here

// Colors.
$primary :        #449D44;

// Font Styling & Sizing.
$font-stack :       'Montserrat', Tahoma, Arial, sans-serif;

body {
  color: $primary;
  font-family: $font-stack;
}